*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.tur{
    width: 50px;
    height: 50px;
}
.khan{
    width: 50px;
    height: 50px;
}
.bolson{
    background-color: #200051;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 100px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
}